.no-gif, .efecto:hover .gif{
    display: flex;
    cursor: pointer; 
}

.gif, .efecto:hover .no-gif{
    display: none;
}
.salto{
    margin-bottom: 40px;
}
.salto2{
    margin-bottom: 70px;
}
.container{
    display: flex;
    justify-content: center;
}
.imagen{
    margin: 0px 20px;
}