.no-gif, .efecto:hover .gif{
    display: flex;
    cursor: pointer; 
}

.gif, .efecto:hover .no-gif{
    display: none;
}
.salto{
    margin-bottom: 40px;
}
.salto2{
    margin-bottom: 70px;
}
.container{
    display: flex;
    justify-content: center;
}
.imagen{
    margin: 0px 20px;
}

.salto3{
    margin: 10px 20px;
}
.viñetas{
    margin: 0px 50px;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
}
table{
    margin: 20px 85px;
}
.redes{
    margin: 20px 20px;
}